<app-navbar></app-navbar>
<div class="container pt-5">
    <div class="row mt-5">

        <div class="col-2 d-flex align-content-center flex-wrap">
            <div ngbDropdown class="d-inline-block">
                <button class="btn btn-secondary" id="dropdownBasic1" ngbDropdownToggle>Inventory</button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <button ngbDropdownItem [routerLink]="['/inventory_analytics']">Inventory Analytics</button>
                    <button ngbDropdownItem [routerLink]="['/inventory_non_perishables']">Non-perishable</button>
                    <button ngbDropdownItem [routerLink]="['/inventory_perishables']">Perishable</button>
                </div>
            </div>
        </div>

        <div class="col-2 d-flex align-content-center flex-wrap">
            <div class="d-inline-block">
                <button class="btn btn-secondary" [routerLink]="['/employee']">Employee Information</button>
            </div>
        </div>

    </div>
</div>